body {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #f4f7f9;
    
    min-height: 320px;
    align-items: center;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.actions-list,
.user-navigation,
.site-navigation {
    list-style: none;
}

.actions-list a,
.actions-list a:visited,
.site-navigation a,
.site-navigation a:visited {
    color: #ffffff;
}

.marker:hover,
.cart-active:hover {
    background-color: #212a3a;
}

.marker:focus,
.cart-active:focus {
    color: rgba(255, 255, 255, 0.6);
    
    background-color: #161d29;
}

.user-navigation a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    
    background-color: #ffffff;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:focus {
    color: #000000;
    opacity: 0.3;
}

.search,
.search:visited {
    color: #ffffff;
}

.search:focus {
    color: #000000; 
    
    background-color: #ffffff;
}

.buy {
    color: #ffffff;
    
    background-color: #63a63e;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:focus {
    color: rgba(255, 255, 255, 0.5);
    
    background-color: #518534;
}

.header-logo {
    background-color: #ee3643;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:focus {
    background-color: #ba2732; 
}

.footer-info,
.header-info {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-info {
    font-style: italic;
}

.phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: solid 2px white;
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.site-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    
    background-color: #32425c;
}

.site-navigation a:hover {
    background-color: #1d2739;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5); 
    
    background-color: #1d2739; 
}

.company h2 {
    font-size: 30px; 
    line-height: 30px;
    text-transform: uppercase;
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
}

.company li {
    font-size: 18px;
    line-height: 20px;
    
    list-style: none;
}

.main-button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    
    background-color: #ee3643;
}

.contacts h2 {
    font-size: 30px; 
    line-height: 30px;
    text-transform: uppercase;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
}

.main-footer {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.main-footer ul {
   list-style: none; 
}

.footer-site-navigation {
    font-size: 18px;
    line-height: 24px;
}

.footer-site-navigation a {
    color: #f3f7f9;
}

.footer-site-navigation a:hover,
.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-site-navigation a:focus {
    color: rgba(241, 245, 247, 0.5); 
    text-decoration: none;
}

.footer-navigation a:focus {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.main-footer .address,
.main-footer .phone {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    border: none;
}

.footer-navigation a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.footer-copyright {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social a {
    background-color: #212a3a;
}

.footer-social a:focus,
.footer-social a:hover {
    background-color: #ee3643;
}

.mail {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.mail a {
    color: #ffd180;
}

.mail a:hover {
    text-decoration: underline;
}

.mail a:focus,
.credits a:focus {
    color: #ee3643;
    text-decoration: none;
}

.credits {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.credits a {
    color: #ffd180;
}

.credits a:hover {
    text-decoration: underline;
}

.footer-logo {
    background-color: #ee3643;
}

.pop-up-write-us {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.pop-up-write-us input,
.pop-up-write-us textarea {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

/*Стили для каталога*/

.cart-active {
    background-color: #ee3643;
}

.user-navigation-inner li,
.breadcrumbs li {
    list-style: none;
}

.user-navigation-inner .user {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    background-color: #ffffff;
}

.user-navigation-inner .button {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

}

.breadcrumbs a,
.breadcrumbs {
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.heading {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    
    background-color: #f2f6f8;
}

.filter h2 {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    line-height: 18px;
    color: #000000;
    
    background-color: #f7f3ec;
}

.filters legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.17px;
}

.filters fieldset {
    border: none;
}

.producer li,
.power li {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    
    list-style: none;
}

.show {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
    
    border: solid 1px #e5e5e5;
}

.catalog-list ul {
    list-style: none; 
}

.catalog-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-transform: uppercase;
    text-decoration: line-through;
}

.price {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #ee3643;
}

.hidden-buy {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
}

.hidden-buy:hover {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.hidden-buy:focus{
    background-color: #518534;
    
}

.hidden-mark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;
    
    background-color: #ffffff;
    border: solid 3px #63a63e;
}

.hidden-mark:hover {
    border: solid 3px #32425c;
}

.hidden-mark:focus {
    opacity: 0.3;
}

/*Стили постоения сеток для главной*/

/*Header*/

.main-header {
    margin-bottom: 60px;
}

.main-navigation { 
    display: flex;
    flex-direction: column;
}

.header-top-center,
.header-main-center,
.header-bottom-center{
    display: flex;
    width: 940px;
    margin: 0 auto; 
    padding: 0 10px;
}

.header-top {
    margin-bottom: 45px;
}

.header-top-center,
.header-main-center {
    justify-content: space-between;
}

.header-phone-address {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.header-info {
    width: 200px;
    padding: 0 50px;
    margin: 0;
}

.user-navigation {
    display: flex;
    margin: 0; 
    padding: 0;
    justify-content: space-between;
    width: 270px;
}

.user-navigation a {
    padding: 10px 25px;
}

.header-main-center {
    margin-bottom: 40px;
}

.header-logo {
    width: 220px;
}

.search {
    display: inline-flex; /*not sure about that*/
    width: 270px;
}

.actions-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 450px; 
}

.site-navigation {
    display: flex;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    width: 940px;
    justify-content: space-between;
}

.site-navigation li {
    padding: 20px 30px;
}

/*Main*/

.container {
    width: 940px;
    margin: 0 auto; 
    padding: 0 10px;
    
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;    
}

.company {
    width: 540px;
}

.contacts {
    width: 300px;
}
/*Footer*/

.footer-main-navigation {
    display: flex;
/*    flex-direction: column;*/
    justify-content: space-between;
}

.footer-site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    width: 570px; 
    justify-content: space-between;
}

.footer-site-navigation li {
    padding: 10px 15px;
}

.footer-logo {
    width: 220px;
}

.footer-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.footer-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    width: 550px; 
    justify-content: space-between;
}

.footer-navigation li {
    padding: 10px 20px;
}

.container-footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-bottom-one {
    display: flex;
    width: 230px;
}

.footer-social {
    display: flex;
    margin: 0;
    padding: 0;
    width: 150px; 
    justify-content: space-between; 
}

.footer-bottom-two {
    display: flex;
    width: 300px;
    justify-content: space-between; 
}

/*Стили постоения сеток для каталога*/

.user-navigation-inner {
    display: flex;
    width: 300px;
    padding: 0;
    margin: 0;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    display: flex;
}

.heading {
    padding: 30px 30px;
    padding-right: 0;
    margin-bottom: 20px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 220px;
    order: 1;
    margin: 0;
    padding: 0;
}

.filter h2 {
    margin: 0;
    margin-bottom: 19px;
    padding: 13px 19px; 
}

.catalog-list {
    width: 700px;
    order: 2;
    margin-bottom: 54px;
}

.catalog-list ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
}

.catalog-list .pagination-list {
    padding: 0;
    margin: 0;
    justify-content: flex-start;

    list-style: none;
}
