body {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    background-color: #f4f7f9;
    
    min-height: 320px;
    align-items: center;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.actions-list,
.user-navigation,
.site-navigation,
.ad,
.popular-list,
.popular-list-producer,
.service-name,
.sort-list,
.sort-list-direction {
    list-style: none;
}

.actions-list a,
.actions-list a:visited,
.site-navigation a,
.site-navigation a:visited {
    color: #ffffff;
}

.marker:hover,
.cart:hover {
    background-color: #212a3a;
}

.marker:focus,
.cart:focus {
    background-color: #161d29;
}

.marker:focus,
.cart:focus{
/*    color: rgba(255, 255, 255, 0.6);*/
    opacity: 0.6;
}

.user-navigation a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    
    background-color: #ffffff;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:focus {
    color: #000000;
    opacity: 0.3;
}

.search,
.search:visited {
    color: #ffffff;
}

.search:focus {
    color: #000000; 
    
    background-color: #ffffff;
}

.buy {
    color: #ffffff;
    
    background-color: #63a63e;
    
    display: block;
    padding: 12px;
    padding-left: 22px;
    padding-right: 18px;
    width: 139px;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:focus {
    color: rgba(255, 255, 255, 0.5);
    
    background-color: #518534;
}

.header-logo {
    background-color: #ee3643;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:focus {
    background-color: #ba2732; 
}

.footer-info,
.header-info {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-info {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
}

.phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: solid 2px white;
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.site-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation li:hover {
    background-color: #1d2739;
}

.site-navigation li:focus {
    background-color: #1d2739; 
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5); 
}

.ad,
.ad-first {
    padding: 0;
    margin: 0;
}

.ad li,
.ad-first li{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #ffffff;
    font-weight: normal;
}

.ad-button {
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.ad-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.ad-button:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.ad-first li:nth-child(1) {
    background-color: #ffbf47;
    background-image: url(/img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 30px;
    position: relative;
}

.ad-first li:nth-child(2) {
    background-color: #3bbce3;
    background-image: url(/img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 197px 32px;
}

.ad li:nth-child(1) {
    background-color: #dc91d8;
    background-image: url(/img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px 30px;
}

.ad li:nth-child(2) {
    background-color: #8ed78f;
    background-image: url(/img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 25px;
}

.ad li:nth-child(3) {
    background-color: #ffbf47;
    background-image: url(/img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.slider h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.slider .main-button:hover {
    background-color: #ca2c37;
}

.slider .main-button:focus {
    background-color: #ba2732;
}

.slider-drill {
    background-image: url(/img/slider1.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 620px;
    height: 266px;
}

.slider-perforator {
    background-image: url(/img/slider2.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 620px;
    height: 266px;
}

.popular-header {
    background-color: #f9f5f0;
}

.popular-header h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
}

.producer-item {
    border: solid 1px #eaeaea;
} 

.producer-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producer-item:focus {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.producer-item a:focus {
    opacity: 0.3;
}

.service {
    background-color: #f4f7f9;
}

.service h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
}

.service h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

.service p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.service-name {
    padding: 0;
    margin: 0;
}

.service-name li{
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    
    background-color: #33445a;
    box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
}

.service-item a{
    color: #ffffff;
}

.service-item:hover {
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #293449;
}


.service-name .active {
    background-color: #ffffff;
    box-shadow: none;
}

.service-item.active a {
    color: #32425c;
}

.company h2 {
    font-size: 30px; 
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
}

.company li {
    font-size: 18px;
    line-height: 20px;
    
    list-style: none;
}

.main-button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    
    background-color: #ee3643;
    border: none;
    border-radius: 2px;
}

.contacts h2 {
    font-size: 30px; 
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
}

.main-footer {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.main-footer ul {
   list-style: none; 
}

.footer-site-navigation {
    font-size: 18px;
    line-height: 24px;
}

.footer-site-navigation a {
    color: #f3f7f9;
}

.footer-site-navigation a:hover,
.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-site-navigation a:focus {
    color: rgba(241, 245, 247, 0.5); 
    text-decoration: none;
}

.footer-navigation a:focus {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.main-footer .address,
.phone-footer {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    border: none;
}

.footer-navigation a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.footer-copyright {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social a {
    background-color: #212a3a;
}

.footer-social a:focus,
.footer-social a:hover {
    background-color: #ee3643;
}

.mail {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.mail a {
    color: #ffd180;
}

.mail a:hover {
    text-decoration: underline;
}

.mail a:focus,
.credits a:focus {
    color: #ee3643;
    text-decoration: none;
}

.credits {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.credits a {
    color: #ffd180;
}

.credits a:hover {
    text-decoration: underline;
}

.footer-logo {
    background-color: #ee3643;
}

.pop-up-write-us {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.pop-up-write-us input,
.pop-up-write-us textarea {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

/*Стили для каталога*/

.cart.active {
    background-color: #ee3643;
}

.user-navigation-inner li,
.breadcrumbs li {
    list-style: none;
}

.user-navigation-inner .user {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    background-color: #ffffff;
}

.user:focus {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation-inner .button {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-navigation-inner .button:hover {
    color: #ee3643;
}

.user-navigation-inner .button:focus {
    color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs a,
.breadcrumbs {
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.heading {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    
    background-color: #f2f6f8;
}

.sort {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f7f3ec;
}

.sort h2 {
    font-weight: normal;
}

.sort-item .sort-active {
    color: #ee3643;
    
    border-bottom: none;
}

.sort-item a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #ee3643;
}

.sort-item a:hover {
    color: #000000;
    
    border-bottom: 1px solid #ee3643;
}

.range {
    background-color: #f7f3ec;
}

.filter-price p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    
    background-color: #f7f3ec;
}

.filter h2 {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    line-height: 18px;
    color: #000000;
    font-weight: normal;
    
    background-color: #f7f3ec;
}

.filters legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.17px;
}

.filters fieldset {
    border: none;
}

.producer li,
.power li {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    
    list-style: none;
}

.show {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
    
    border: solid 1px #e5e5e5;
}

.catalog-list ul {
    list-style: none; 
}

.catalog-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    text-align: center;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-transform: uppercase;
    text-decoration: line-through;
}

.price {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #ee3643;
}

.more-about {
    background-color: #f4f7f9;
}


.more-about h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    font-weight: normal;
}

.more-about p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.pagination-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    
    border: solid 1px #e5e5e5;
}

.pagination-item a:visited{
    color: #000000;
}

.pagination-item a:hover{
    border: solid 1px #e5e5e5;
}

.pagination-item a:focus{
    color: #000000;
    
    border: solid 1px #bdc6ca;
}

.pagination-item.current {
    color: #ffffff;
    
    background-color: #ee3643;
}

/*Стили постоения сеток для главной*/

/*Header*/

.main-header {
    margin-bottom: 60px;
}

.main-navigation { 
    display: flex;
    flex-direction: column;
}

.header-top-center,
.header-main-center,
.header-bottom-center{
    display: flex;
    width: 940px;
    margin: 0 auto; 
    padding: 0 10px;
}

.header-top {
    margin-bottom: 47px;
}

.header-top-center,
.header-main-center {
    justify-content: space-between;
}

.header-phone-address {
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 0;
    margin: 0;
}

.phone {
    margin: 0;
    position: relative;
    padding-left: 72px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 8px;  
    margin-left: -25px;
    width: 155px;
}

.phone::before {
    content:"";
    
    background-image: url("/img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    position: absolute;
    left: 13px;
    width: 20px;
    height: 20px; 
}

.header-address {
    padding: 0;
    margin: 0;
    margin-left: -15px;
    margin-top: 5px;
}

.header-info {
    width: 196px;
    padding: 0 52px;
    margin: 0;
}

.user-navigation {
    display: flex;
    margin: 0; 
    padding: 0;
    justify-content: space-between;
    width: 280px;
}

.user-navigation a {
    display: block;
    padding: 12px 25px;
}

.enter.button {
    padding-left: 46px;
    position: relative;
}

.enter.button::before {
    content:"";
    
    background-image: url("/img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    position: absolute;
    left: 13px;
    top: 13px;
    width: 20px;
    height: 20px; 
}

.header-main-center {
    margin-bottom: 40px;
}

.header-logo {
    padding-top: 12px;
    padding-left: 55px;
    padding-right: 10px;
    width: 198px;
}

.header-logo img {
    padding: 0;
    margin: 0;
}

.search {
    display: block; 
    width: 270px;
    padding-top: 12px;
    padding-left: 45px;
    position: relative;
}

.search::before {
    content:"";
    
    background-image: url("/img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    position: absolute;
    left: 15px;
    width: 18px;
    height: 18px; 
}

.actions-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 300px; 
}

.marker{
    display: block;
    width: 88px;
    padding-top: 12px;
    padding-left: 47px;
    padding-right: 25px;
    padding-bottom: 12px;
    margin: 0;
    position: relative;
}

.marker::before {
    content:"";
    
    background-image: url("/img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    position: absolute;
    left: 20px;
    width: 18px;
    height: 18px; 
}

.cart {
    display: block;
    width: 78px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 42px;
    margin: 0;
    position: relative;
}

.cart::before {
    content:"";
    
    background-image: url("/img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    position: absolute;
    left: 10px;
    width: 18px;
    height: 18px;
    
}

.site-navigation {
    display: flex;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    width: 940px;
    justify-content: space-between;
}

.site-navigation li {
    padding: 23px 30px;
    padding-top: 19px;
}

.site-navigation li:first-child {
    padding-left: 52px;
}

.site-navigation li:nth-child(2) {
    padding-left: 32px;
}

.site-navigation li:last-child {
    padding-right: 54px;
}

/*Main*/

.container {
    width: 940px;
    margin: 0 auto; 
    padding: 0 10px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;    
}

.company {
    width: 540px;
}

.contacts {
    width: 300px;
}

.promo {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
}

.promo-first {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
}

.ad-first {
    display: flex;
}

.ad-first li:first-child {
    margin-right: 20px;
}

.ad li,
.ad-first li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 275px;
    padding-left: 25px;
    padding-top: 20px; 
    padding-bottom: 23px;
    margin-bottom: 20px;
}

.ad li:last-child {
    margin-bottom: 0;
}

.ad-button {
    width: 135px;
    margin-top: 12px;
    padding-top: 11px;
    padding-bottom:9px;
    border-radius: 2px;
}

.slider {
    position: relative;
}

.slider-drill h2{
    margin: 0;
    padding-top: 21px;
    padding-left: 24px;
    margin-bottom: 2px;
}

.slider-drill p {
    margin: 0;
    padding-left: 25px;
    margin-bottom: 130px;
}

.slider-drill .main-button,
.slider-perforator .main-button {
    width: 145px;
    margin-left: 25px;
    padding-left: 50px;
    padding-right: 47px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-button,
.left-button {
    position: absolute;
    border: none;
    outline: none;
    width: 22px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.right-button {
    background-image: url(/img/icon-right.svg);
    background-repeat: no-repeat;
    right: 20px;
    top: 114px;
}

.left-button {
    background-image: url(/img/icon-left.svg);
    background-repeat: no-repeat;
    left: 25px;
    top: 114px;
}

.slider-perforator {
    display: none;
}

.popular-header {
    display: flex;
    justify-content: space-between;
    
    
    margin-bottom: 20px;
}

.popular-header h2 {
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 28px;
    
}

.popular-header .main-button {
    width: 253px;
    margin-top: 25px;
    margin-right: 24px;
    margin-bottom: 26px;
}

.popular-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.popular-list .catalog-item {
    width: 220px;
    margin-right: 20px;
}

.popular-list .catalog-item:last-child {
    margin-right: 0;
}

.popular-list-producer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
}

.producer-item {
    width: 220px;
    margin-bottom: 20px;
    min-height: 145px;
    box-sizing: border-box;
}

.producer-item a {
    padding: 0;
    margin: 0;
}

.producer-item:nth-child(1) {
    background-image: url(/img/bosch.png);
    background-repeat: no-repeat;
    background-position: center;
}

.producer-item:nth-child(2) {
    background-image: url(/img/makita.png);
    background-repeat: no-repeat;
    background-position: 47px 49px;
}

.producer-item:nth-child(3) {
    background-image: url(/img/de-walt.png);
    background-repeat: no-repeat;
    background-position: center 47px;
}

.producer-item:nth-child(4) {
    background-image: url(/img/interskol.png);
    background-repeat: no-repeat;
    background-position: center 20px;
}

.producer-item:nth-child(5) {
    background-image: url(/img/hitachi.png);
    background-repeat: no-repeat;
    background-position: 27px 57px;
}

.producer-item:nth-child(6) {
    background-image: url(/img/lg.png);
    background-repeat: no-repeat;
    background-position: 47px 35px;
}

.producer-item:nth-child(7) {
    background-image: url(/img/aeg.png);
    background-repeat: no-repeat;
    background-position: center 22px;
}

.producer-item:nth-child(8) {
    background-image: url(/img/metabo.png);
    background-repeat: no-repeat;
    background-position: 9px 33px;
}

.producer-item a{
    display: inline-block;
    width: 220px;
    min-height: 130px;
    box-sizing: border-box;
}

.service .container{
    padding-top: 65px;
}

.service h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
}

.service p {
    padding: 0;
    margin: 0;
    width: 398px;
    margin-bottom: 70px;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.service-name {
    padding-right: 80px;
}

.service-item {
    width: 218px;
    padding-left: 22px;
    padding-top: 14px;
    padding-bottom: 17px;
}

.delivery h3,
.guarantee h3,
.credit h3 {
    margin: 0;
    padding: 0;
    margin-top: -3px;
    margin-bottom: 25px;
}

.delivery p,
.guarantee p,
.credit p {
    margin: 0;
    width: 280px;
}

.second-slider {
    display: flex;
    margin-bottom: 53px;
}

.delivery {
    width: 619px;
    padding-bottom: 130px;
    background-image: url(/img/secondslider1.png);
    background-repeat: no-repeat;
    background-position: right 22px;
/*    display: none;*/
}

.guarantee {
    display: none;
    width: 619px;
    padding-bottom: 130px;
    background-image: url(/img/secondslider2.png);
    background-repeat: no-repeat;
    background-position: right 22px;
}

.guarantee p {
    width: 359px;
}

.credit {
    display: none;
    width: 619px;
    padding-bottom: 130px;
    background-image: url(/img/secondslider3.png);
    background-repeat: no-repeat;
    background-position: right 22px;
}

.credit .main-button {
    margin-top: 25px;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Footer*/

.footer-main-navigation {
    display: flex;
/*    flex-direction: column;*/
    justify-content: space-between;
}

.footer-site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    width: 570px; 
    justify-content: space-between;
}

.footer-site-navigation li {
    padding-bottom: 0px;
    padding-top: 38px;
    padding-right: 0;
    padding-left: 22px;
}

.footer-logo {
    width: 180px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 17px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 380px;
}

.footer-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 550px; 
    justify-content: space-between;
}

.footer-navigation li {
    padding-left: 25px;
    padding-top: 28px;
}

.container-footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-bottom-one {
    display: flex;
    width: 230px;
}

.footer-social {
    display: flex;
    margin: 0;
    padding: 0;
    width: 130px;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 0;
    padding-left: 41px;
}

.footer-bottom-two {
    display: flex;
    width: 300px;
    justify-content: space-between; 
}

/*Стили постоения сеток для каталога*/

.user-navigation-inner {
    display: flex;
    width: 300px;
    padding: 0;
    margin: 0;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    display: flex;
}

.heading {
    padding: 30px 30px;
    padding-right: 0;
    margin-bottom: 20px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-columns-inner {
    display: flex;
    flex-direction: column;
    order: 2;
}

.sort {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sort h2 {
    margin: 0;
    padding: 0; 
}

.sort-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.sort-item {
    padding-right: 50px;
}

.sor-item:last-child {
    padding-right: 0;
}

.sort-list-direction {
    display: flex;
}

.filter {
    width: 220px;
    order: 1;
    margin: 0;
    padding: 0;
}

.filter h2 {
    margin: 0;
    margin-bottom: 19px;
    padding: 13px 19px; 
}

.catalog-list {
    width: 700px;
    margin-bottom: 54px;
}

.catalog-list ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    
    width: 700px;
    margin: 20px auto;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog-list .pagination-list {
    padding: 0;
    margin: 0;
    justify-content: flex-start;

    list-style: none;
}

.more-about .container {
    padding-top: 65px;
    padding-bottom: 70px;
}

.flag {
    position: absolute;
    top: -1px;
    right: -1px;
  
    width: 60px;
    height: 60px;
  
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.flag.flag-new{
    background-image: url(/img/new-flag.png);
    background-repeat: no-repeat;
    position: 0 0;
}

.catalog-item .actions-button {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.hidden-buy,
.hidden-mark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315; 
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.hidden-mark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions-button {
  display: none;
}

.catalog-item:hover .actions-button {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item h3 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.catalog-item .old-price {
  min-height: 20px;
/*  margin-top: 15px;*/
  margin-bottom: 0px;  
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-top: 8px;
  margin-bottom: 18px;
  padding: 11px 30px;
  margin-left: 41px;
  border-radius: 2px;
}

.price.only {
 margin-top: 40px;   
}

.price:after {
  content: "";
  
  position: absolute;
  top: 0px;
  right: -21px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.company h2,
.contacts h2{
    margin-bottom: 26px;
}

.company .first-line {
    margin-top: 24px;
    margin-bottom: 0px;
}

.company .second-line {
    margin-top: 0px;
    margin-bottom: 20px;
}

.company-list {
    margin-left: -4px;
    margin-bottom: 36px;
}

.company-list li {
    margin-bottom: 20px;
    position: relative;
}

.company-list li::before {
    content: "";
    
    position: absolute;
    left: -36px;
    top: 10px;
    width: 25px;
    height: 2px; 
    background-color: #ee3643;
}

.company .main-button {
    display: inline-block;
    width: 220px; 
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
}

.contacts p {
    margin-bottom: 30px;
}

.contacts a {
    display: inline-block;
    margin-bottom: 32px;
}

.contacts .main-button {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 10px;
}

.main-footer .address {
    margin: 0;
    margin-top: 28px;
    padding-left: 3px;
}

.main-footer .phone-footer {
    margin: 0;
    padding-left: 3px;
}

.footer-copyright {
    padding: 0;
    margin: 0;
    padding-left: 1px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
}

.footer-bottom-two p {
    padding: 0;
    padding-left: 1px;
    padding-top: 1px;
    margin: 0;
    margin-right: 51px;
}

.credits {
    margin-right: 0;
}